PROJECT_NAME=cloud-native-cicd
SERVICE_NAME=user-service
ENVIRONMENT=dev

AWS_REGION=us-east-1
AWS_ACCOUNT_ID=123456789012
CLUSTER_NAME=cicd-eks-cluster

ECR_REPOSITORY=cloud-native-cicd/user-service
IMAGE_TAG=latest

HELM_RELEASE=user-service
HELM_NAMESPACE=default
CHART_PATH=helm/user-service
DOCKER_CONTEXT=microservices/user-service
DOCKER_PLATFORM=linux/amd64

# Optional: use a DNS name after you configure Route53.
INGRESS_HOST=
